<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>503177426318-tqkhid5fim1jg3oniaj5k4v48717a574.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503177426318-tqkhid5fim1jg3oniaj5k4v48717a574</string>
	<key>API_KEY</key>
	<string>AIzaSyApxgObR7ETZ-RDhzSvEBxKOXb-GgqDG4k</string>
	<key>GCM_SENDER_ID</key>
	<string>503177426318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.patate.ios-project</string>
	<key>PROJECT_ID</key>
	<string>ios-epitech</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-epitech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503177426318:ios:bb78ed6c00cd00d7</string>
	<key>DATABASE_URL</key>
	<string>https://ios-epitech.firebaseio.com</string>
</dict>
</plist>